button {
	border: none;
  outline: none;
	font-family: helvetica, sans-serif;  
}

.button {
    padding: 0.3rem .9rem;
    background: black;
    cursor: pointer;
    color: white;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .1s ease;
    line-height: 24px;
    min-width: 170px;
    text-align: left;

    &:hover {
      background: white;
      border: 1px solid black;
      color: black;
    }

    &:disabled {
      background: black;
      cursor: no-drop;
    }
}