button {
	font-family: 'Merriweather', serif;
	border: none;
	outline: none;
}

.button {
    padding: 0.3rem .9rem;
    background: black;
    cursor: pointer;
    color: white;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: all .1s ease-in-out;
    line-height: 24px;
    min-width: 170px;
    text-align: left;

    &:hover {
      background: darken(black, 5);
    }

    &:disabled {
      background: black;
      cursor: no-drop;
    }
}