p  {
	margin: 0;
	font-family: helvetica, sans-serif;
	font-size: 1.1rem;
}

nav {
	p {
		color: white;
		text-shadow: 0px 1px 18px black;
	}

	.hover-animation {
		position: relative;

		&:after {
			transition: all .3s ease-in-out;
			content: '';
			position: absolute;
			width: 0;
			height: 2px;
			bottom: -5px;
			left: 1px;
			background: white;
		}

		&:hover {
			&:after {
				width: 100%;
			}
		}
	}
}

.error-message {
	color: black;
    font-size: 0.6rem;
	margin-top: 9px;
	line-height: 14px;
}
 
a {
	text-decoration: none;
}