nav {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 50px;
    box-sizing: border-box;
    .nav-top {
        display: flex;
        justify-content: space-between;
    }
    .nav-bottom {
        display: flex;
        justify-content: space-between;
        top: 100%;
        position: sticky;
    }
}