nav {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 50px;
    box-sizing: border-box;
    z-index: 0;
    .nav-top {
        display: flex;
        justify-content: space-between;
    }
    .nav-bottom {
        display: flex;
        justify-content: space-between;
        top: 100%;
        position: sticky;

        p {
            transform: rotate(90deg);
            transform-origin: right;
            font-style: italic;
            margin-top: 10px;
        }
    }
}