nav {
    .nav-desktop {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            padding: 38px 47px;
            box-sizing: border-box;
            z-index: 0;
            transition: all .5s ease;
        }

        .nav-top {
            display: flex;
            justify-content: space-between;
            position: relative;
            opacity: 0;
            transition-delay: 1s;

            &.fade-down {
                animation-duration: 1s;
                animation-delay: 1s;
                animation-name: fadeInDown;
                opacity: 1;
            }
        }

        .nav-bottom {
            display: flex;
            justify-content: space-between;
            top: 100%;
            position: sticky;

            &.fade-up {
                animation-duration: 1s;
                animation-delay: 1s;
                animation-name: fadeInUp;
                opacity: 1;

                .nav-instagram {
                    animation-delay: 1s;
                    opacity: 1;
                }

                p {
                    animation-delay: 1s;
                    opacity: 1;
                }
            }
            
            p {
                transform: rotate(90deg);
                transform-origin: right;
                font-style: italic;
                margin-top: 10px;
                font-size: .9rem;
                bottom: 30px;
                left: 3px;
                opacity: 0;
            
            }

            .nav-instagram {
                width: 30px;
                height: 30px;
                position: absolute;
                right: -14px;
                transform: rotate(90deg);
                bottom: 12px;
                opacity: 0;
                transition-delay: 1s;
            }
        }
    }

    .nav-mobile {
        width: 100%;
        position: absolute;
        top: 0;
        box-sizing: border-box;
        z-index: 0;
        background: white;

        .nav-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 40px;
            transition: all .5s ease;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .strap-mobile {
        position: absolute;
        bottom: 0;
        margin: 20px;

        @media screen and (min-width: 768px) {
            display: none;
        }

        p {
            font-size: 0.8rem;
        }

        .social {
            margin-top: 12px;

            .icon {
                width: 20px;
                position: relative;
                top: 11px;            
            }

            p {
                font-size: 0.8rem;
                cursor: pointer;
                margin-bottom: 20px;
                margin-left: 16px;
                letter-spacing: 0.5;
                display: inline-block;
            }
        }
    }
}