.video {
	position: absolute;
	transition: all .5s ease;
	right: 0vw;

	&.show-contact {
		right: 50vw;
	}
}

.video-container{
	width:100vw;
	height:100vh;
	overflow:hidden;
	position:relative;
	display: flex;
    align-items: center;
    justify-content: center;
}

.video-container iframe {
	pointer-events: none;
}

.video-foreground {
    height: 430px;
    pointer-events: none;
    width: 760px;
    position: relative;
}